<!DOCTYPE html>
<head>
    <title>
        Bungelowpark: Zee en Duin
    </title>
</head>
<body>
    <h1>Hallo {{naam}}</h1>
    <p1>
    {% if instrument %}
    Het instrument van jouw keuze is {{ instrument }}
    <br>De keuze van een instrument op in dit formulier:
    {% else %}
        Geef de naam van een instrument op in dit formulier:
    {% endif %}
    </p1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.instrument.label }} {{ form.instrument() }}
        {{ form.Submit() }}
    </form>
</body>